extends layout

block content
	script(src='js/eventlist.js')
	
	#wrapper
		#header
			#headerBackground
				.left
				.right
				.center
			#headerLogo
				h1 vocalfi
			#headerAccount
				.left
				.right
				.center
					.lines
						.line1
							| Welcome
							&nbsp
							strong= user_name
						.line2
							a(href='/logout') Logout
			#headerTitle
				#headerTitleBackground
				#headerTitleLeft
				#headerTitleRight
				#headerTitleContent
					h3
					h2 Event List
		#content
			input(type='hidden', id='user_id', value=user_id)
			table#eventlist.display(cellpadding='0', cellspacing='0', border='0')
		#footer
			#powered
			#footerContent
				table(cellpadding='0', cellspacing='0', border='0', style='background-color: white; width: 100%;')
					tbody
						tr
							td#reportsAlert(style='height: 15px; color: red; font-weight: bold;', align='center')
				#static_area_container(style='height: 42px;')
					#static_area(align='left')
						#static_area_contents
							#footerline(align='left')
							#fixme(align='left')
								div(style='padding-left: 10px;')
									|  Copyright 2009 Vocalfi . All Rights Reserved.
									br
									| -r
	.debug
		h2 Test Button for refresh - multi users
		input(type='button', value='refresh', onclick='refresh()')
