extends layout

block content
	script(src='js/login.js')
	#login
		#loginHeader
		#loginContent
			.maincontent
				br.clear
				.logindiv
					.login
						.logintabl
							form#frmLogin( name='frmLogin', method="post", action="/login", onsubmit='return false' )		
								table(width='95%', align='center', cellpadding='3', cellspacing='0')
									tbody
										tr.usernameRow
											td.username
												label(for='username') Username
											td
												input#username.login_input(tabindex='1', type='text', name='loginname')
										tr#error_username(style='display: none;')
											td &nbsp
											td
												#div_username(style='color: red;')
										tr.passwordRow
											td.password
												label(for='password') Password
											td
												input#password.login_input(tabindex='2', type='password', name='loginpassword')
										tr#error_password(style='display: none;')
											td &nbsp
											td
												#div_password(style='color: red;')
										tr.loginRow
											td &nbsp
											td
												.blackButton
													.left
													#Login.content(onclick='checkLoginValidations()', name='Login') Login
													.right
										tr
											td &nbsp
											td.forgot
												a(onclick='', tabindex='6', style='cursor: pointer;') Forgot Password?
										tr
											td &nbsp
											td
												#div_invalidlogin(style='color: red; display: none;') Invalid Username/Password, Try Again!
												#red(style='color: red;')
		#loginFooter