doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oswald')
    script(src='/socket.io/socket.io.js')
    script(src='js/jquery.min.js')
    script(src='js/jquery.dataTables.min.js')
  body
    block content